/* CSS file for Bootstrap Assignment-2 (Himanshu Setia) */

body {
    font-family: Arial, Verdana, sans-serif;
}

.separationLine {
    background-color: #F1F1F1;
}

.badgeColor {
    background-color: #7c00f9;
}

.accordion-button:not(.collapsed) {
    color: black !important;
    background-color: white !important;
}